# Ignore
__pycache__
.DS_Store
.playwright-mcp
.pypirc
.pyright
.pytest_cache
.ruff_cache
.venv
*.env*
*.gql
*.py[cod]
*.py[oc]
*.yaml
build/
dist/
logs/
src-auth-perms-sync-runs/
wheels/

# Allow
!.env.example
!.markdownlint-cli2.yaml
!maps-example.yaml
