# Ignore
__pycache__
.DS_Store
.playwright-mcp
.pypirc
.pyright
.pytest_cache
.ruff_cache
.venv
*.env*
*.gql
*.py[cod]
*.py[oc]
*.swp
*.tsv
build/
dist/
logs*/
logs/
src-auth-perms-sync-runs/
wheels/

# Allow
!examples/
